{{define "body"}}
<meta charset="utf-8" />
<title>{{.title}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Password generator written in Golang with Gin framework.">
<meta name="author" content="Andrew Yang">

<!-- Bootstrap -->
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- React.js -->
<script src="/components/react/react.min.js"></script>

<!-- Custom stylesheet -->
<link rel="stylesheet" href="/stylesheets/style.css" />
{{end}}
